<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FTabulous - Venn Time Travel (people)</title>
		<link rel="shortcut icon" href="/static/img/icon/favicon.ico">
		<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4">
		<link rel="stylesheet" type="text/css" href="/static/css/ftabulous.css">
	</head>
	<body class="people-venn timetravel">
		<header>
			<h1>FTabulous - Venn Time Travel (people)</h1>
			<p>
				Displays simulated data to demonstrate data changing over time <br /><i>*Some people not showing due to venn diagram display issues</i>
			</p>
		</header>
		<fieldset class="controls">
			<legend>Controls</legend>
			<input class="dayBtn" type="button" value="Day 1" disabled>
			<input class="dayBtn" type="button" value="Day 2">
			<input class="dayBtn" type="button" value="Day 3">
		</fieldset>
		<div id="venn"></div>
		<script src="/static/js/libs/d3.v5.js"></script>
		<script src="/static/js/libs/venn.js"></script>
		<script src="/static/js/ftabulous/people_venn_timetravel.js"></script>
		<script>
			init('{{data}}');
		</script>
	</body>
</html>
