<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FTabulous - Venn Time Select (people)</title>
		<link rel="shortcut icon" href="/static/img/icon/favicon.ico">
		<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4">
		<link rel="stylesheet" type="text/css" href="/static/css/ftabulous.css">
	</head>
	<body class="people-venn timeselect">
		<header>
			<h1>FTabulous - Venn Time Select (people)</h1>
			<p>Venn diagram of how tagged people in FT articles (in the last 24 hours) relate to other people tagged in the same articles</p>
		</header>
		<fieldset class="controls">
			<legend>Controls</legend>
			<input id="rangeInput" type="range" name="rangeInput" min="1" max="10">
		</fieldset>
		<div id="venn"></div>
		<script src="/static/js/libs/d3.v5.js"></script>
		<script src="/static/js/libs/venn.js"></script>
		<script src="/static/js/ftabulous/people_venn_timeselect.js"></script>
		<script>
			init('{{data}}', '{{facetHistory}}');
		</script>
	</body>
</html>
