<!DOCTYPE html>
<html lang="en">
	{{#>ftabulous/head title='FTabulous - Venn Time Select (people)'}}{{/ftabulous/head}}
	<body class="people-venn timeselect">
		<header>
			<h1>FTabulous - Venn Time Select (people)</h1>
			<p>Venn diagram of how tagged people in FT articles (in the last 24 hours) relate to other people tagged in the same articles.<br /><i>*Some people not showing due to venn diagram display issues</i></p>
		</header>
		<fieldset class="controls">
			<legend>Controls</legend>
			<input id="rangeInput" type="range" name="rangeInput" min="1" max="5" value="5"><br />
			<label for="currentRangeCount">No of Core people: </label>
			<input id="currentRangeCount" name="currentRangeCount" type="text" value="5" disabled />
		</fieldset>
		<div id="venn"></div>
		<script src="/static/js/libs/d3.v5.js"></script>
		<script src="/static/js/libs/venn.js"></script>
		<script src="/static/js/ftabulous/people_venn_timeselect.js"></script>
		<script>
			init('{{data}}');
		</script>
	</body>
</html>
