<!DOCTYPE html>
<html lang="en">
	{{#>ftabulous/head title='FTabulous - Venn (people)'}}{{/ftabulous/head}}
	<body class="people-text">
		<header>
			<h1>FTabulous - Venn (people)</h1>
			<p>Venn diagram of how the top 5 tagged people in FT articles (in the last 24 hours) relate to other people tagged in the same articles</p>
		</header>
		<main></main>
		{{> ftabulous/vennData}}
		<script src="/static/js/ftabulous/people_text.js"></script>
		{{> ftabulous/vennDataHandler}}
	</body>
</html>
