<!DOCTYPE html>
<html lang="en">
	{{#>ftabulous/head title='FTabulous - Venn Moar data (people)'}}{{/ftabulous/head}}
	<body class="people-venn">
		<header>
			<h1>FTabulous - Venn Moar data (people)</h1>
			<p>Venn diagram of how the top tagged people in FT articles (in the last 24 hours) relate to other people tagged in the same articles</p>
		</header>
		<div id="venn_one"></div>
		{{> ftabulous/vennData}}
		{{> ftabulous/vennScripts}}
		<script src="/static/js/ftabulous/people_venn_moardata.js"></script>
		{{> ftabulous/vennDataHandler}}
	</body>
</html>
