<!DOCTYPE html>
<html lang="en">
	{{#>ftabulous/head title='FTabulous - Venn Moar data (people)'}}{{/ftabulous/head}}
	<body class="people-venn">
		<header>
			<h1>FTabulous - Venn Moar data (people)</h1>
			<p>Venn diagram of how the top tagged people in FT articles (in the last 24 hours) relate to other people tagged in the same articles</p>
		</header>
		<div id="venn_one"></div>
		{{> ftabulous/vennScripts}}
		<span id="dataHolder" style="visibility: hidden; height: 0; overflow: hidden;">{{data}}</span>
		<span id="facetHolder" style="visibility: hidden; height: 0; overflow: hidden;">{{facetHistory}}</span>
		<script src="/static/js/ftabulous/people_venn_moardata.js"></script>
		<script>
			var dataHolder = document.getElementById('dataHolder');
			var facetHolder = document.getElementById('facetHolder');
			var data = dataHolder.textContent;
			var facets = facetHolder.textContent;
			dataHolder.parentNode.removeChild(dataHolder);
			facetHolder.parentNode.removeChild(facetHolder);

			init(JSON.parse(data), JSON.parse(facets));
		</script>
	</body>
</html>
