<!DOCTYPE html>
<html lang="en">
	{{#>ftabulous/head title='FTabulous - Table'}}{{/ftabulous/head}}
	<body class="table">
		<header>
			<h1>FTabulous - Table</h1>
			<h2>Using articles published in the last 24hrs</h2>
			<div class="facetSelection">
				<div class="inner">
					<button type="submit" name="select" class="o-buttons o-buttons--primary" value="all" disabled>All</button>
					<button type="submit" name="select" class="o-buttons o-buttons--primary" value="topics">Topics</button>
					<button type="submit" name="select" class="o-buttons o-buttons--primary" value="people">People</button>
					<button type="submit" name="select" class="o-buttons o-buttons--primary" value="organisations">Organisations</button>
					<button type="submit" name="select" class="o-buttons o-buttons--primary" value="genre">Genre</button>
				</div>
			</div>
		</header>
		<fieldset class="filters">
			<legend>Filters</legend>
			<!--<input type="checkbox" name="genres" value="genres" class="o-forms__checkbox" id="genresFilter">
			<label for="genresFilter" class="o-forms__label">Show only News, Feature &amp; Opinion genres</label>
			<br />-->
			<input type="checkbox" name="articles" value="articles" class="o-forms__checkbox" id="articleFilter" checked="">
			<label for="articleFilter" class="o-forms__label">Show articles</label>
			<br />
			<input type="checkbox" name="articleStats" value="articleStats" class="o-forms__checkbox" id="articleStatsFilter" checked="">
			<label for="articleStatsFilter" class="o-forms__label">Show article stats</label>
			<br />
			<input type="checkbox" name="relatedStats" value="relatedStats" class="o-forms__checkbox" id="relatedStatsFilter" checked="">
			<label for="relatedStatsFilter" class="o-forms__label">Show related stats</label>
			<br />
			<input type="checkbox" name="pulselines" value="pulselines" class="o-forms__checkbox" id="pulselinesFilter" checked="">
			<label for="pulselinesFilter" class="o-forms__label">Show pulse lines</label>
		</fieldset>
		<main id="main"></main>

		{{> ftabulous/vennData}}
		<script src="/static/js/libs/d3.v5.js"></script>
		<script src="/static/js/ftabulous/table.js"></script>
		{{> ftabulous/vennDataHandler}}
	</body>
</html>
