<!DOCTYPE html>
<html lang="en">
	<head>
		<title>FTabulous - Tree</title>
		<link rel="shortcut icon" href="/static/img/icon/favicon.ico">
		<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4">
		<link rel="stylesheet" type="text/css" href="/static/css/ftabulous.css">
	</head>
	<body class="tree">
		<header>
			<h1>FTabulous - Tree</h1>
			<h2>Description</h2>
		</header>
		<main>
			<div id="main-grid" class="o-grid-container">
				{{#each first}}
					{{rowCenter header=first.header data=first.data}}
				{{/each}}
			</div>
		</main>
		<script src="/static/js/ftabulous/tree.js"></script>
		<script>
			init('{{data}}', '{{facetHistory}}');
		</script>
	</body>
</html>
