<!DOCTYPE html>
<html lang="en">
{{#> head title='Index' subtitle='Demo Index Page' }}{{/head}}

<body>
    <h2>Demos</h2>

    <ul>
        <li>
            <a href="space/hexagon">Hexagon layout</a>
        </li>
        <li>
            <a href="space/grid">Using css grid</a>
        </li>
    </ul>
</body>

</html>