<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>News Score</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/newsScore/firstIteration.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    {{#each results}}
    <h1>{{theme}}</h1>
    <p>{{newsScore}}</p>
    {{/each}}
</body>

</html>