<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>News Score</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/newsScore/firstIteration.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>

<body>
    <div class="overall-page">
        <div class="yesterday">
            {{#each results1}}
            <span class="eachone">
            <span class="theme"> {{theme}}:   </span> <span class="score"> {{newsScore}}<br></span>
            </span>
            {{/each}}
        </div>
        <div class="today">
            {{#each results2}}
            <span class="eachone">
            <span class="theme"> {{theme}}:   </span> <span class="score"> {{newsScore}}<br></span>
            </span>
            {{/each}}
        </div>
    </div>
</body>

</html>