<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
		<style type="text/css">
			.item {
				border: 2px solid grey;
				padding: 10px;
				display: block;
				width: 150px;
				height: 150px;
				margin: auto;
				vertical-align: bottom;
			}
		</style>
	{{/head}}
	<body>
		<h1>FacetHistory - Demo Index Page</h1>

		<h2>Endpoint</h2>

		<p>
		  GET /facetHistory/:facet/?period=&amp;interval=&amp;numInterval=&amp;maxFacets=, returns JSON,<br />e.g. <a href="/facetHistory/topics?period=days&interval=1&numInterval=5&maxFacets=10">/facetHistory/topics?period=days&amp;interval=1&amp;numInterval=5&amp;maxFacets=10</a>
		</p>
		<ul>
			<li>
				<b>facet</b> <i>string</i> : facet type to query [topic, organisation, people] matching id facet auto included e.g. people &amp; peopleId 
			</li>
			<li>
				<b>period</b> <i>string</i> : time period to query [minutes, hours, days][default days]
			</li>
			<li>
				<b>interval</b> <i>integer</i> : quantity of the time period to query [1, 5][default 1]
			</li>
			<li>
				<b>numInterval</b> <i>integer</i> : number of intervals [1, 5][default 5]
			</li>
			<li>
				<b>maxFacets</b> <i>integer</i> : number of facets to retrun results for [0, 100][default 10]
			</li>
		</ul>

		<h2>Pages</h2>

		<ul>
			<li>
				<a href="/facetHistory/1">Facet History v1 - </a>
			</li>
		</ul>
	</body>
</html>
