<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
	{{/head}}
	<body>
		<h1>Demo Index Page</h1>

		<h2>Endpoint</h2>

		<p>
		  GET /relatedContent/?days=&amp;facet=, returns JSON, e.g. <a href="/facetsWithArticles/relatedContent?days=1&facet=topics">/facetsWithArticles/relatedContent?days=1&amp;facet=topics</a>
		</p>

		<br />

		<h3>Build-a-query</h3>

		<form>
			<span>facetsWithArticles/relatedContent?days=</span>
			<select id="days" name="days">
				<option selected>1</option>
				<option>2</option>
				<option>3</option>
			</select>
			<span>&amp;facet=</span>
			<select id="facet" name="facet">
				<option selected>topics</option>
				<option>organisation</option>
				<option>people</option>
			</select>
			<br /><br />
			<a id="queryBuilderLink" target="blank" href="">facetsWithArticles/relatedContent?days=</a>
		</form>

		<script type="text/javascript" src="/static/js/relatedQueryBuilder.js"></script>

	</body>
</html>
