<!DOCTYPE html>
<html lang="en">
	{{#> head title='' subtitle='' }}
		<style>
			.item {
				border: 2px solid grey;
				padding: 10px;
				display: block;
				width: 150px;
				height: 150px;
				margin: auto;
				vertical-align: bottom;
			}
			form {
				margin-bottom: 25px;
			}
			form a {
				display: block;
				margin: 15px 0;
			}
			h2 {
				margin-top: 25px;
			}
		</style>
	{{/head}}
	<body>
		<h1>FacetHistory - Demo Index Page</h1>
		<h2>Endpoint</h2>
		<p>
		  GET /facetHistory/:facet/?period=&amp;interval=&amp;numInterval=&amp;maxFacets=, returns JSON,<br />e.g. <a target="blank" href="/facetHistory/topics?period=days&interval=1&numInterval=5&maxFacets=10">/facetHistory/topics?period=days&amp;interval=1&amp;numInterval=5&amp;maxFacets=10</a>
		</p>
		<ul>
			<li>
				<b>facet</b> <i>string</i> : facet type to query [topic, organisation, people] matching id facet auto included e.g. people &amp; peopleId 
			</li>
			<li>
				<b>period</b> <i>string</i> : time period to query [minutes, hours, days][default days]
			</li>
			<li>
				<b>interval</b> <i>integer</i> : quantity of the time period to query [1, 5][default 1]
			</li>
			<li>
				<b>numInterval</b> <i>integer</i> : number of intervals [1, 5][default 5]
			</li>
			<li>
				<b>maxFacets</b> <i>integer</i> : number of facets to retrun results for [0, 100][default 10]
			</li>
		</ul>
		<h3>Build-a-query</h3>
		<form>
			<span>/facetHistory/</span>
			<select id="facet" name="facet">
				<option selected>topics</option>
				<option>organisation</option>
				<option>people</option>
			</select>
			<span>?period=</span>
			<select id="period" name="period">
				<option selected>days</option>
				<option>hours</option>
				<option>minutes</option>
			</select>
			<span>&amp;interval=</span>
			<select id="interval" name="interval">
				<option selected>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			<span>&amp;numInterval=</span>
			<select id="numInterval" name="numInterval">
				<option selected>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
			</select>
			<span>&amp;maxFacets=</span>
			<select id="maxFacets" name="maxFacets">
				<option>1</option>
				<option selected>5</option>
				<option>10</option>
				<option>25</option>
				<option>50</option>
			</select>
			<a id="queryBuilderLink" target="blank" href="">/facetHistory/</a>
		</form>
		<h2>Example page(s)</h2>
		<ul>
			<li>
				<a target="_blank" href="/facetHistory/1">Facet History v1 - </a>
			</li>
		</ul>
		<script src="/static/js/facetHistory/queryBuilder.js"></script>
	</body>
</html>
