<!DOCTYPE html>
<html lang="en">
	{{#> head title='' subtitle='' }}
		<style>
			span, select {
				vertical-align: top;
			}
			#aspects {
				height: 180px;
			}
			form {
				margin-bottom: 25px;
			}
			form a {
				display: block;
				margin: 15px 0;
			}
			h2 {
				margin-top: 25px;
			}
		</style>
	{{/head}}
	<body>
		<h1>Demo Index Page</h1>
		<p>
			Creates a listed collection of facet items (either topics, organisations or people). Each item has:
		</p>
		<ul>
			<li>The name of the facet item</li>
			<li>A list of the articles tagged with the above facet item</li>
			<li>A list of other topics, organisations and people that the above articles are tagged with</li>
		</ul>
		<h2>Endpoint</h2>
		<p>
		  GET /relatedContent/?days=&amp;facet=, returns JSON, e.g. <a href="/facetsWithArticles/relatedContent?days=1&facet=topics">/facetsWithArticles/relatedContent?days=1&amp;facet=topics</a>
		</p>
		<p>
		  GET /articlesAggregation/?days=&amp;facet=, returns JSON, e.g. <a href="/facetsWithArticles/articlesAggregation?days=1&facet=topics">/facetsWithArticles/articlesAggregation?days=1&amp;facet=topics</a>
		</p>
		<br />
		<h3>Build-a-query</h3>
		<form>
			<span>facetsWithArticles/relatedContent?days=</span>
			<select id="days" name="days">
				<option selected>1</option>
				<option>2</option>
				<option>3</option>
			</select>
			<span>&amp;facet=</span>
			<select id="facet" name="facet">
				<option selected>topics</option>
				<option>organisations</option>
				<option>people</option>
			</select>
			<span>&amp;aspects=</span>
			<select multiple="" id="aspects" name="aspects">
				<option selected>title</option>
				<option selected>summary</option>
				<option selected>images</option>
				<option>audioVisual</option>
                <option>editorial</option>
                <option>lifecycle</option>
                <option>location</option>
                <option>master</option>
                <option>metadata</option>
                <option>nature</option>
                <option>provenance</option>
			</select>
			<a id="queryBuilderLink" target="blank" href="">facetsWithArticles/relatedContent?days=</a>
		</form>
		<h2>Example relatedContent pages</h2>
		<ul>
			<li>
				<a target="_blank" href="/facetsWithArticles/test">Facets With Articles Test</a>
			</li>
			<li>
				<h3>Clustered Images</h3>
				<ul>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/one/people">v1</a> - Top mentioned person in the news with all realted article images (stacked)
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/two/people">v2</a> - Uses <i>`one`</i> and positions the images to fixed locations
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/three/people">v3</a> - Uses <i>`one`</i> and dynamically positions the images (refresh to see new positioning)
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/four/people">v4</a> - Uses <i>`three`</i> with better positioning and controls
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/fiveA/people">v5a</a> - Uses <i>`four`</i> displaying the 3 top <b>people</b>
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/fiveB/topics">v5b</a> - Uses <i>`four`</i> displaying the 3 top <b>topics</b>
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/fiveC/organisations">v5c</a> - Uses <i>`four`</i> displaying the 3 top <b>organisations</b>
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/six/topics">v6</a> - Uses <i>`five`</i> and also displays top articles for displayed topics. Articles are clickable.
					</li>
				</ul>
			</li>
			<li>
				<h3>Charts</h3>
				<ul>
					<li>
						<a target="_blank" href="/facetsWithArticles/charts/one/topics/1">v1</a> - Bar charts showing top content
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/charts/two/topics/2">v2</a> - Bubble chart showing top content
					</li>
				</ul>
			</li>
			<li>
				<h3>Aggregations</h3>
				<ul>
					<li>
						<a target="_blank" href="/facetsWithArticles/aggregations/basic1">basic1</a> - display the aggregated/distilled topics
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/aggregations/basic2">basic2</a> - display the aggregated/distilled topics
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/aggregations/basic3">basic3</a> - display the aggregated/distilled topics
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/aggregations/basic4">basic4</a> - display the aggregated/distilled topics
					</li>
				</ul>
			</li>
		</ul>
		<h2>Example articlesAggregation pages</h2>
		<ul>
			<li>
				<a target="_blank" href="/facetsWithArticles/articlesAggregation/visual_1?days=1">v1</a> - Lists the top 2 articles for the top 3 primary theme topics
			</li>
			<li>
				<a target="_blank" href="/facetsWithArticles/articlesAggregation/visual_2?days=1">v2</a> - Lists the top 3 primary theme topics
			</li>
			<li>
				<a target="_blank" href="/facetsWithArticles/articlesAggregation/visual_3?days=1">v3</a> - Displays the top people and their related content
			</li>
			<li>
				<a target="_blank" href="/facetsWithArticles/articlesAggregation/visual_4?days=1">v4</a> - Displays the top people and their related content
			</li>
			<li>
				<a target="_blank" href="/facetsWithArticles/articlesAggregation/visual_5?days=3">v5</a>
			</li>
			<li>
				<a target="_blank" href="/facetsWithArticles/articlesAggregation/visual_6?days=3">v6</a>
			</li>
			<li>
				<a target="_blank" href="/facetsWithArticles/articlesAggregation/visual_7?days=3">v7</a>
			</li>
		</ul>
		<script src="/static/js/facetRelated/queryBuilder.js"></script>
	</body>
</html>
