<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
		<style type="text/css">
			span, select {
				vertical-align: top;
			}
			#aspects {
				height: 180px;
			}
		</style>
	{{/head}}
	<body>
		<h1>Demo Index Page</h1>

		<p>
			Creates a listed collection of facet items (either topics, organisations or people). Each item has:
			<ul>
				<li>The name of the facet item</li>
				<li>A list of the articles tagged with the above facet item</li>
				<li>A list of other topics, organisations and people that the above articles are tagged with</li>
			</ul>
		</p>

		<br />

		<h2>Endpoint</h2>

		<p>
		  GET /relatedContent/?days=&amp;facet=, returns JSON, e.g. <a href="/facetsWithArticles/relatedContent?days=1&facet=topics">/facetsWithArticles/relatedContent?days=1&amp;facet=topics</a>
		</p>

		<br />

		<h3>Build-a-query</h3>

		<form>
			<span>facetsWithArticles/relatedContent?days=</span>
			<select id="days" name="days">
				<option selected>1</option>
				<option>2</option>
				<option>3</option>
			</select>
			<span>&amp;facet=</span>
			<select id="facet" name="facet">
				<option selected>topics</option>
				<option>organisations</option>
				<option>people</option>
			</select>
			<span>&amp;aspects=</span>
			<select multiple="" id="aspects" name="aspects">
				<option selected>title</option>
				<option selected>summary</option>
				<option selected>images</option>
				<option>audioVisual</option>
                <option>editorial</option>
                <option>lifecycle</option>
                <option>location</option>
                <option>master</option>
                <option>metadata</option>
                <option>nature</option>
                <option>provenance</option>
			</select>
			<br /><br />
			<a id="queryBuilderLink" target="blank" href="">facetsWithArticles/relatedContent?days=</a>
		</form>

		<br />

		<h2>Example pages</h2>

		<ul>
			<li>
				<a target="_blank" href="/facetsWithArticles/test">Facets With Articles Test</a>
			</li>
			<li>
				<h4>Clustered Images</h4>
				<ul>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/one">v1</a> - Top mentioned person in the news with all realted article images (stacked)
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/two">v2</a> - Uses <i>`one`</i> and positions the images to fixed locations
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/three">v3</a> - Uses <i>`one`</i> and dynamically positions the images (refresh to see new positioning)
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/four">v4</a> - Uses <i>`three`</i> with better positioning and controls
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/five-a">v5a</a> - Uses <i>`four`</i> displaying the 3 top <b>people</b>
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/five-b">v5b</a> - Uses <i>`four`</i> displaying the 3 top <b>topics</b>
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/five-c">v5c</a> - Uses <i>`four`</i> displaying the 3 top <b>organisations</b>
					</li>
					<li>
						<a target="_blank" href="/facetsWithArticles/clusteredImages/six">v6</a> - Uses <i>`five`</i> and also displays top articles for displayed topics
					</li>
				</ul>
			</li>
			<li>
				<h4>Related content</h4>
				<ul>
					<li>
						<a target="_blank" href="/facetsWithArticles/relatedContent/one">v1</a> - 
					</li>
				</ul>
			</li>
		</ul>

		<script type="text/javascript" src="/static/js/relatedQueryBuilder.js"></script>

	</body>
</html>
