<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
		<style type="text/css">
			.item {
				border: 2px solid grey;
				padding: 10px;
				display: block;
				width: 150px;
				height: 150px;
				margin: auto;
				vertical-align: bottom;
			}
		</style>
	{{/head}}
	<body>
		<h1>Demo FT Maps Pages</h1>
		<ul>
			<li>
				<a href="/ftMaps/view">News Hotspots</a>
				<ul>
					<li>
						See a map, check out statistics.
					</li>
				</ul>
			</li>
		</ul>
	</body>
</html>
