<!DOCTYPE html>
<html>
	{{#> head title='Heartbeat' subtitle='' }}
	{{/head}}
	<body>
		<h1>Heartbeat - Demo Index Page</h1>

		<h2>Example Pages</h2>

		<ul>
			<li>
				<a target="_blank" href="/heartbeat/one">v1</a> - tabled
			</li>
			<li>
				<a target="_blank" href="/heartbeat/two">v2</a> - line chart(s)
			</li>
		</ul>
	</body>
</html>
