<!DOCTYPE html>
<html>
	{{#> head title='Heartbeat' subtitle='' }}
	{{/head}}
	<body>
		<h1>Heartbeat - Demo Index Page</h1>

		<h2>Example Pages</h2>

		<ul>
			<li>
				<a target="_blank" href="/heartbeat/one/topics/10">v1</a> - tabled (facet: topics, days: 10)
			</li>
			<li>
				<a target="_blank" href="/heartbeat/two/topics/10">v2</a> - line chart(s) (facet: topics, days: 10)
			</li>
		</ul>
	</body>
</html>
