<!DOCTYPE html>
<html>
	{{#> head title='Hierarchical Edge Bundling' subtitle='' }}
	<link rel="stylesheet" type="text/css" href="/static/css/hierarchicalEdgeBundling.css">
	{{/head}}
	<body>
		<h1>Hierarchical Edge Bundling</h1>
		<main></main>
		<fieldset class="controls">
			<legend>Controls:</legend>
			<input type="button" name="topics" id="topicsRefresh" value="Topics">
			<input type="button" name="people" id="peopleRefresh" value="People">
			<input type="button" name="organisations" id="organisationsRefresh" value="Organisations">
		</fieldset>
	</body>
	<script src="/static/js/d3.v5.js"></script>
	<script src="/static/js/refreshFacet.js"></script>
	<script src="/static/js/hierarchicalEdgeBundling.js"></script>
	<script>
		var ctrl = new RefreshFacet('hierarchicalEdgeBundling');
		var hebd = new HierarchicalEdgeBundlingDiagram();
		hebd.init("{{data}}", 'main');

		window.addEventListener('resize', function(){
			hebd.refreshDiagram();
		});
	</script>
</html>
