<!DOCTYPE html>
<html>
	{{#> head title='Hierarchical Edge Bundling' subtitle='' }}
	<link rel="stylesheet" type="text/css" href="/static/css/hierarchicalEdgeBundling.css">
	{{/head}}
	<body>
		<h1>Hierarchical Edge Bundling</h1>
	</body>
	<script src="/static/js/hierarchicalEdgeBundling.js"></script>
</html>
