<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
	{{/head}}
	<body>
		<h1>Image Clusters - Demo Index Page</h1>

		<h2>Example Pages</h2>

		<ul>
			<li>
				
			</li>
		</ul>
	</body>
</html>
