<!DOCTYPE html>
<html lang="en">
{{#> head title='Index' subtitle='Demo Index Page' }}
<style type="text/css">
	body ul li {
		padding-bottom: 5px;
	}
</style>
{{/head}}

<body>
	<h1>Demo Index Page</h1>
	<h2>Demos</h2>
	<ul>
		<li>
			<a href="24hrs">24hrs of Articles</a>
			<ul>
				<li>Displaying all articles published in the last 24hrs</li>
			</ul>
		</li>
		<li>
			<a href="facetHistory">Facet History</a>
			<ul>
				<li>Displaying how paricular facets have changed over the [given time period]</li>
			</ul>
		</li>
		<li>
			<a href="lantern">Lantern Data</a>
		</li>
		<li>
			<a href="list">Content list data</a>
		</li>
		<li>
			<a href="timeline">Timeline</a>
		</li>
		<li>
			<a href="facetsWithArticles">Facets With Articles endpoint</a>
			<ul>
				<li>Collecting all articles relating to a facet. Also collects all other facets that those grouped articles
					contain.</li>
			</ul>
		</li>
		<li>
			<a href="heartbeat">Heartbeat</a>
			<ul>
				<li>Creating Github-esque pulse/heartbeat/horse lines for facets. Displaying how present/relevant that facet item
					was day by day</li>
			</ul>
		</li>
		<li>
			<a href="hierarchicalEdgeBundling">Hierarchical Edge Bundling</a>
			<ul>
				<li>Creating a <a href="https://en.wikipedia.org/wiki/Chord_diagram" target="_blank">Chord diagram</a> to explore
					the relationships between topic, people, organisation and genre facets</li>
			</ul>
		</li>
		<li>
			<ul><li>Creating a <a href="https://en.wikipedia.org/wiki/Chord_diagram" target="_blank">Chord diagram</a> to explore the relationships between topic, people, organisation and genre facets</li></ul>
	    </li>
	    <li>
			<a href="tinder">FT as Tinder</a>
		<li>
			<a href="ftMaps">FT Rainbow Maps</a>
			<ul><li>Using d3 and datamaps to produce a view for articles and topics</li></ul>
		</li>
		<li>
			<a href="ftabulous">FTabulous</a>
			<ul><li>Presenting summarised recent news in a table format</li></ul>
		</li>
		<li>
			<a href="space">Space utilization</a>
		</li>
	</ul>
</body>

</html>