<!DOCTYPE html>
<html>
{{#> head title='Index' subtitle='Demo Index Page' }}{{/head}}

<body>
	<h1>Demo Index Page</h1>

	<h2>Demos</h2>

	<ul>
		<li>
			<a href="24hrs">24hrs of news</a>
		</li>
		<li>
			<a href="facetHistory">facetHistory</a>
		</li>
		<li>
			<a href="lantern">Lantern Data</a>
		</li>
	</ul>
</body>

</html>