<!DOCTYPE html>
<html>
{{#> head title='Index' subtitle='Demo Index Page' }}{{/head}}

<body>
    <h2>Demos</h2>

    <ul>
        <li>
            <a href="lantern/top-articles/7">Top articles last x days. Example last 7 days.</a>
        </li>
        <li>
            <a href="lantern/article-metadata/62539054-9f13-11e8-85da-eeb7a9ce36e4">Specific article metadata. Example this UUID 62539054-9f13-11e8-85da-eeb7a9ce36e4</a>
        </li>
        <li>
            <a href="lantern/search/UK">Specific search term popularity. Example is UK.</a>
        </li>
        <li>
            <a href="lantern/section-or-topic/brexit">Section or topic data. Example brexit.</a>
        </li>
        <li>
            <a href="lantern/top-views/7">Top views of last x days. Example last 7 days.</a>
        </li>
    </ul>
</body>

</html>