<!DOCTYPE html>
<html>
{{#> head title='Index' subtitle='Demo Index Page' }}{{/head}}

<body>
    <h2>Demos</h2>

    <ul>
        <li>
            <a href="">Hi</a>
        </li>

    </ul>
</body>

</html>