<!DOCTYPE html>
<html lang="en">
{{#> head title='Index' subtitle='Demo Index Page' }}{{/head}}

<body>
    <h2>Demos</h2>
    The main endpoint is '/list/position/uk-homepage-top-stories'
    <ul>
        <li>
            <a href="/list/overDuration/uk-homepage-top-stories?days=5">Specific list history over a peroid of time.
                Example is uk-homepage-top-stories over the last 5 days.</a>
        </li>
        <li>
            <a href="/list/article/8665efbc-a140-11e8-85da-eeb7a9ce36e4">Specific article history. Example is
                8665efbc-a140-11e8-85da-eeb7a9ce36e4.</a>
        </li>
        <li>
            <a href="/list/position/world-top-stories?position=5&days=7">Specific position over specified period of
                time. Example is position 5 of world top stories over 7 days.</a>
        </li>

    </ul>
</body>

</html>