<!DOCTYPE html>
<html lang="en">
	{{#> head title='' subtitle='' }}
		<style>
			span, select {
				vertical-align: top;
			}
			#aspects {
				height: 180px;
			}
			form {
				margin-bottom: 25px;
			}
			form a {
				display: block;
				margin: 15px 0;
			}
			h2 {
				margin-top: 25px;
			}
		</style>
	{{/head}}
	<body>
		<h1>Demo SapiV1CapiV2 Page</h1>
		<p>
			Some endpoints combining SAPI v1 and CAPI v2
		</p>
		<h2>GET Endpoints</h2>
		<ul>
			<li>
				<h3>simple search, iterating deeper, articles only, capi only</h3>
				<form action="/sapiV1CapiV2/search" method="get">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">GET search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>latest SAPI results (iterating SAPI calls) with added CAPI</h3>
				<form action="/sapiV1CapiV2/search/deeper" method="get">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">GET search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>latest CAPI for UUID </h3>
				<form action="/sapiV1CapiV2/getArticle" method="get">
					<div>
					  <label for="uuid">uuid:</label>
					  <input type="text" name="uuid" value="0ed17006-ba37-11e8-8274-55b72926558f">
					</div>
					<div class="button">
					  <button type="submit">GET search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>summary of recent SAPI and CAPI call timings</h3>
				<form action="/sapiV1CapiV2/summariseFetchTimings" method="get">
					<div>
					  <label for="lastFew">lastFew:</label>
					  <input type="text" name="lastFew">
					</div>
					<div class="button">
					  <button type="submit">GET call summary</button>
					</div>
				</form>
			</li>
		</ul>
		<h2>POST Endpoints</h2>
		<ul>
			<li>
			  <h3>simple search</h3>
				<form action="/sapiV1CapiV2/search" method="post">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div class="button">
					  <button type="submit">POST search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>simple search, iterating deeper</h3>
				<form action="/sapiV1CapiV2/search/deeper" method="post">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">POST search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>simple search, iterating deeper, articles only</h3>
				<form action="/sapiV1CapiV2/search/deeper/articles" method="post">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">POST search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>simple search, iterating deeper, articles only, capi only</h3>
				<form action="/sapiV1CapiV2/search/deeper/articles/capi" method="post">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">POST search request</button>
					</div>
				</form>
			</li>
		</ul>
	</body>
</html>
