<!DOCTYPE html>
<html lang="en">
	{{#> head title='' subtitle='' }}
		<style>
			span, select {
				vertical-align: top;
			}
			#aspects {
				height: 180px;
			}
			form {
				margin-bottom: 25px;
			}
			form a {
				display: block;
				margin: 15px 0;
			}
			h2 {
				margin-top: 25px;
			}
		</style>
	{{/head}}
	<body>
		<h1>Demo searchAndContent Page</h1>

		<h2>Displays</h2>
		<p>
			Summary views of articles over a date range. Warning, tables *were* harmed in the making of this page.
		</p>
		<ul>
			<li><a href="/searchAndContent/display/basic1">/searchAndContent/display/basic1</a></li>
			<li><a href="/searchAndContent/display/basic2">/searchAndContent/display/basic2</a> (with added cliques and config params)</li>
			<li><a href="/searchAndContent/display/basic3">/searchAndContent/display/basic3</a> (with added cliques and config params and context - way too much info to display neatly, but ...)</li>
			<li><a href="/searchAndContent/display/basic4">/searchAndContent/display/basic4</a> (with added cliques and config params and context and ignoreItemList - way too much info to display neatly, but ...)</li>
		</ul>

		<h2>Some data endpoints combining SAPI v1 and CAPI v2, and summarising</h2>
		<h3>GET Endpoints</h3>
		<p>Can specify any of the standard SAPI POST body params as query params, along with other params such as maxDepth.</p>
		<ul>
			<li>
				<h3>simple search (one SAPI call), with added CAPI calls to flesh out article details</h3>
				<form action="/searchAndContent/search" method="get">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div class="button">
					  <button type="submit">GET search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>iterated searches (multiple SAPI calls to get more results), with added CAPI calls to flesh out article details</h3>
				<form action="/searchAndContent/search/deeper" method="get">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">GET search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>iterated searches (multiple SAPI calls to get more results), with added CAPI calls to flesh out article details, returning just the article data</h3>
				<form action="/searchAndContent/search/deeper/articles" method="get">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">GET search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>iterated searches (multiple SAPI calls to get more results), with added CAPI calls to flesh out article details, returning just the reduced CAPI aspect of the article data with added mergedAnnotations</h3>
				<form action="/searchAndContent/search/deeper/articles/capi" method="get">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">GET search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>latest CAPI for UUID </h3>
			<form action="/searchAndContent/getArticle" method="get">
					<div>
					  <label for="uuid">uuid:</label>
					  <input type="text" name="uuid" value="0ed17006-ba37-11e8-8274-55b72926558f">
					</div>
					<div class="button">
					  <button type="submit">GET search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>summary of recent SAPI and CAPI call timings</h3>
				<form action="/searchAndContent/summariseFetchTimings" method="get">
					<div>
					  <label for="lastFew">lastFew:</label>
					  <input type="text" name="lastFew">
					</div>
					<div class="button">
					  <button type="submit">GET call summary</button>
					</div>
				</form>
			</li>
			<li>
				<h3>prepped data for display of correlations based on iterated searches (multiple SAPI calls to get more results), with added CAPI calls to flesh out article details, returning just the reduced CAPI aspect of the article data with added mergedAnnotations</h3>
				<a href="/searchAndContent/display">/searchAndContent/display</a>
			</li>
			<li>
				<h3>allFacets for the default date range</h3>
				<form action="/searchAndContent/allFacets" method="get">
					<div class="button">
					  <button type="submit">GET allFacets</button>
					</div>
				</form>
			</li>
			<li>
				<h3>allFacets by year</h3>
				<form action="/searchAndContent/allFacetsByYear" method="get">
					<div class="button">
					  <button type="submit">GET allFacetsByYear</button>
					</div>
				</form>
			</li>
		</ul>
		<h3>POST Endpoints</h3>
		<p>Can specify any of the standard SAPI POST body params as query params *or* as POST body params (if encoded as application/json), along with other params such as maxDepth.</p>
		<ul>
			<li>
			  <h3>simple search (one SAPI call), with added CAPI calls to flesh out article details</h3>
				<form action="/searchAndContent/search" method="post">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div class="button">
					  <button type="submit">POST search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>iterated searches (multiple SAPI calls to get more results), with added CAPI calls to flesh out article details</h3>
				<form action="/searchAndContent/search/deeper" method="post">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">POST search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>iterated searches (multiple SAPI calls to get more results), with added CAPI calls to flesh out article details, returning just the article data</h3>
				<form action="/searchAndContent/search/deeper/articles" method="post">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">POST search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>iterated searches (multiple SAPI calls to get more results), with added CAPI calls to flesh out article details, returning just the reduced CAPI aspect of the article data with added mergedAnnotations</h3>
				<form action="/searchAndContent/search/deeper/articles/capi" method="post">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div class="button">
					  <button type="submit">POST search request</button>
					</div>
				</form>
			</li>
			<li>
				<h3>correlations based on iterated searches (multiple SAPI calls to get more results), with added CAPI calls to flesh out article details, returning just the reduced CAPI aspect of the article data with added mergedAnnotations</h3>
				<form action="/searchAndContent/correlateDammit" method="post">
					<div>
					  <label for="name">queryString:</label>
					  <input type="text" name="queryString">
					</div>
					<div>
					  <label for="maxResults">maxResults:</label>
					  <input type="maxResults" name="maxResults" value="10">
					</div>
					<div>
					  <label for="maxDepth">maxDepth:</label>
					  <input type="maxDepth" name="maxDepth" value="10">
					</div>
					<div>
					  <label for="maxDurationMs">maxDurationMs:</label>
					  <input type="maxDurationMs" name="maxDurationMs" value="5000">
					</div>
					<div>
					  <label for="genres">genres:</label>
					  <input type="genres" name="genres" value="News,Opinion">
					</div>
					<div>
					  <label for="groups">groups:</label>
					  <input type="groups" name="groups" value="primaryThemes,abouts">
					</div>
					<div class="button">
					  <button type="submit">POST search request</button>
					</div>
				</form>
			</li>
		</ul>
	</body>
</html>
