<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Timeline</title>
		<link rel="shortcut icon" href="/static/img/icon/favicon.ico">
		<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4">
		<link rel="stylesheet" type="text/css" href="/static/css/timeline.css">
	</head>
	<body>
		<header>
			<h1>Timeline - Demo Index Page</h1>
		</header>
		<main>
			<h2>Example Pages</h2>
			<ul>
				<li>
					<a href="/timeline/index">Timeline</a>
				</li>
				<li>
					<a href="/timeline/simple">Timeline simple</a>
				</li>
				<li>
					<a href="/timeline/vertical">Timeline vertical</a>
				</li>
			</ul>
		</main>
	</body>
</html>
