<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
		<style type="text/css">
			.item {
				border: 2px solid grey;
				padding: 10px;
				display: block;
				width: 150px;
				height: 150px;
				margin: auto;
				vertical-align: bottom;
			}
		</style>
	{{/head}}
	<body>
		<h1>Demo Tinder Pages</h1>
		<ul>
			<li>
				<a href="/tinder/aMatch">A Match?</a>
				<ul>
					<li>
						It's a Match! 24hr look at the news you love.
					</li>
				</ul>
			</li>
			<li>
				<a href="/tinder/myType">My Type</a>
				<ul>
					<li>
					    Is this My Type? Recommendations based on the news you love.
					</li>
				</ul>
			</li>
		</ul>
	</body>
</html>
