<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
	{{/head}}
	<body>
		<h1>Demo Index Page</h1>

		<h2>Endpoint</h2>

		<p>
		  GET /relatedContent/?days=&amp;facet=, returns JSON, e.g. <a href="/topicArticles/relatedContent?days=1&facet=topics">/topicArticles/relatedContent?days=1&amp;facet=topics</a>
		</p>

	</body>
</html>
