<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
	{{/head}}
	<body>
		<h1>Demo Index Page</h1>

		<h2>Endpoint</h2>

		<p>
		  GET /q/?days=, returns JSON, e.g. <a href="/topicArticles/q?days=1">/topicArticles/q?days=1</a>
		</p>

	</body>
</html>
