<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
		<style type="text/css">
			.item {
				border: 2px solid grey;
				padding: 10px;
				display: block;
				width: 150px;
				height: 150px;
				margin: auto;
				vertical-align: bottom;
			}
		</style>
	{{/head}}
	<body>
		<h1>Demo Index Page</h1>

		<h2>Endpoint</h2>

		<p>
		  GET /dataReq, returns JSON, e.g. <a href="/24hrs/dataReq">/24hrs/dataReq</a>
		</p>

		<h2>Pages</h2>

		<ul>
			<li>
				<a href="/24hrs/1">24hrs v1 - Basic display</a>
			</li>
			<li>
				<a href="/24hrs/2">24hrs v2 - </a>
			</li>
		</ul>
	</body>
</html>
