<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
		<style type="text/css">
			.item {
				border: 2px solid grey;
				padding: 10px;
				display: block;
				width: 150px;
				height: 150px;
				margin: auto;
				vertical-align: bottom;
			}
		</style>
	{{/head}}
	<body>
		<h1>Demo Index Page</h1>

		<h2>Endpoint</h2>

		<p>
		  GET /daysOfArticles/?days=, returns JSON, e.g. <a href="/24hrs/daysOfArticles?days=1">/24hrs/daysOfArticles?days=1</a>
		</p>

		<h2>Example Pages</h2>

		<ul>
			<li>
				<a href="/24hrs/tiledTitles">/24hrs/tiledTitles</a>
			</li>
			<li>
				<a href="/24hrs/tiledImages">/24hrs/tiledImages</a>
				
				<ul>
					<li>
						Displaying the images of the last 24 hours of published articles
					</li>
					<li>
						[Work In Progress] Still working out to display any number of images, at any ratio on any screen size without showing padding space round the edge(s)
					</li>
				</ul>
			</li>
			<li>
				<a href="/24hrs/tiledImages100Grid">/24hrs/tiledImages100Grid</a>
				<ul>
					<li>
						Displaying the last 100 published articles (that have header images) in a fullscreen flexible grid
					</li>
				</ul>
			</li>
			<li>
				<a href="/24hrs/stretchedImages">/24hrs/stretchedImages</a>
				<ul>
					<li>
						Displaying images from the last 24 hours of published articles - in full screen height format
					</li>
				</ul>
			</li>
		</ul>
	</body>
</html>
