<!DOCTYPE html>
<html>
	{{#> head title='' subtitle='' }}
		<style type="text/css">
			.item {
				border: 2px solid grey;
				padding: 10px;
				display: block;
				width: 150px;
				height: 150px;
				margin: auto;
				vertical-align: bottom;
			}
		</style>
	{{/head}}
	<body>
		<h1>Demo Index Page</h1>

		<h2>Endpoint</h2>

		<p>
		  GET /dataReq, returns JSON, e.g. <a href="/24hrs/dataReq">/24hrs/dataReq</a>
		</p>

		<p>
		  GET /topics/last7days, returns JSON, e.g. <a href="/24hrs/topics/last7days">/topics/last7days</a>
		</p>

		<p>
		  GET /facetHistory/:facet/:days/:numTopics, returns JSON, e.g. <a href="/24hrs/facetHistory/topics/7/10">/facetHistory/topics/7/10</a>
		</p>
		<ul>
			<li>
				<b>facet</b> : string : topic (tbc people, organisations)
			</li>
			<li>
				<b>days</b> : num : number of days to query : <i>current hard limit of 30</i>
			</li>
			<li>
				<b>numTopics</b> : num : number of topics to inculde in return : <i>current hard limit of 20</i> &amp;&amp; <i>0 or null will return all results
			</li>
		</ul>

		<h2>Pages</h2>

		<ul>
			<li>
				<a href="/24hrs/1">24hrs v1 - Basic display</a>
			</li>
			<li>
				<a href="/24hrs/2">24hrs v2 - Image display</a>
			</li>
			<li>
				<a href="/24hrs/3">24hrs v3 - </a>
			</li>
		</ul>
	</body>
</html>
