<!DOCTYPE html>
<html lang="en">
	{{#> head title='' subtitle='' }}
		<style>
			span, select {
				vertical-align: top;
			}
			#aspects {
				height: 180px;
			}
			form {
				margin-bottom: 25px;
			}
			form a {
				display: block;
				margin: 15px 0;
			}
			h2 {
				margin-top: 25px;
			}
		</style>
	{{/head}}
	<body>
		<h1>Summarise/compare years's topics</h1>

		<h2>endpoints</h2>
	</body>
</html>
