<!DOCTYPE html>
<html lang="en">
	{{#> head title='' subtitle='' }}
		<style>
			span, select {
				vertical-align: top;
			}
			#aspects {
				height: 180px;
			}
			form {
				margin-bottom: 25px;
			}
			form a {
				display: block;
				margin: 15px 0;
			}
			h2 {
				margin-top: 25px;
			}
		</style>
	{{/head}}
	<body>
		<h1>Summarise/compare years's topics</h1>
		<h2>endpoints</h2>
		<ul>
			<li><a href="topics/2018">/year/topics/:year</a></li>
			<li><a href="topics/2017/2018">/year/topics/:year1/:year2</a></li>
			<li><a href="topics/compare/2017/2018">/year/topics/compare/:year1/:year2</a></li>
			<li><a href="topics/classify/2017/2018">/year/topics/classify/:year1/:year2</a></li>
			<li><a href="topics/classify/display/2017/2018">/year/topics/classify/display/:year1/:year2</a> (data prepped for rendering)</li>
		</ul>
	</body>
</html>
