<!DOCTYPE html>
<html lang="en">
{{#> head title='Articles Aggregation - Visual six' subtitle='' }}
<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4,o-table@^6.7.0,o-toggle@^1.1.10,o-loading@^2.2.1,o-header@^7.5.13,o-teaser@^2.3.1,o-teaser-collection@^2.2.0,o-grid@^4.4.4">
<link rel="stylesheet" href="/static/css/articlesAggregation/main.css">
<link rel="stylesheet" href="/static/css/articlesAggregation/vis6.css">
{{/head}}

<body class="six">
	{{> origami/header}}
	{{> origami/fastFTBar item=data.items}}
	<main class="o-grid-container">
		<div class="explaination">
			<h2>Top facets</h2>
			<p>The top facets across all gathered facets (e.g. topics, people, organisations, sections) presented in the fastFT banner style for the past {{days}} day(s), back-in-time by {{timeslip}} days</p>
		</div>
	</main>
</body>

</html>