<!DOCTYPE html>
<html>
	{{#> head title='24hrs v1 - Basic Display' subtitle='Displaying the titles of the last 24 hours of published articles' }}
		<style type="text/css">
			main {
				flex-grow: 1;
				display: flex;
				justify-content: flex-start;
				flex-direction: row;
				flex-wrap: wrap;
				align-content: flex-start;
			}
			.item {
				flex-grow: 1;
				width: 5%;
				height: 50px;
				border: 1px solid grey;
				padding: 10px;
				display: block;
				margin: auto;
				vertical-align: bottom;
				font-size: 60%;
			}
		</style>
	{{/head}}
	<body>
		{{> header title='24hrs v1 - Basic Display' subtitle='Displaying the titles of the last 24 hours of published articles'}}
		
		<main>
			<!-- results to go here -->
		</main>

		<script type="text/javascript" src="/static/js/main.js"></script>
		<script>
			fetch('/24hrs/dataReq')
				.then(status)
				.then(json)
				.then(function(data) {
					console.log('Request succeeded with JSON response', data);
					displayInDOM(data);
				}).catch(function(error) {
					console.log('Request failed', error);
			});

			function displayInDOM(json){
				var output = '';

				json.forEach(results => {
					let result = results.sapiObj.results[0].results
					result.forEach(article => {
						output += infoWrapper(article);
					});
				});
				
				document.getElementsByTagName('main')[0].innerHTML = output;
			}
		</script>
	</body>
</html>