<!DOCTYPE html>
<html>
	{{#> head title='24hrs v1 - Basic Display' subtitle='Displaying the titles of the last 24 hours of published articles' }}
		<style type="text/css">
			main {
				flex-grow: 1;
				display: flex;
				justify-content: flex-start;
				flex-direction: row;
				flex-wrap: wrap;
				align-content: flex-start;
			}
			.item {
				flex-grow: 1;
				width: 5%;
				height: 50px;
				border: 1px solid grey;
				padding: 10px;
				display: block;
				margin: auto;
				vertical-align: bottom;
				font-size: 60%;
			}
		</style>
	{{/head}}
	<body>
		{{> header title='24hrs v1 - Basic Display' subtitle='Displaying the titles of the last 24 hours of published articles'}}
		<main>
			{{#each results}}
			<div class="item">
				<p>
					{{ title.title }}
				</p>
			</div>
			{{/each}}
		</main>
	</body>
</html>