<!DOCTYPE html>
<html>
	{{#> head title='24hrs v2a - 100 articles' subtitle='Displaying the images of the last 100 published articles in a fullscreen flexible grid' }}
		<style type="text/css">
			html, body, main {
				margin: 0;
				padding: 0;
				font-size: 0;
				overflow: hidden;
				height: 100%;
				width: 100%;
			}
			a {
				display: inline-block;
		        font-size: 0;
		        width: 10%;
		        height: 10%;
			}
			img {
				width: 100%;
			}
			header {
				display: none;
			}
		</style>
	{{/head}}
	<body>
		{{> header title='24hrs v2 - 100 articles' subtitle='Displaying the images of the last 100 published articles in a fullscreen flexible grid'}}
		
		<main>
			{{#each results}}
			{{#if images.0.url}}
			<a href="{{ location.uri }}" title="{{ title.title }}" style="background:url('{{imgPath images.0.url}}&width=500&height=281') no-repeat center center;background-size: cover;" ></a>
			{{/if}}
			{{/each}}
		</main>
	</body>
</html>