<!DOCTYPE html>
<html>
	{{#> head title='24hrs v2 - Image Display' subtitle='Displaying the images of the last 24 hours of published articles' }}
		<style type="text/css">
			html, body {
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
			main {
				display: flex;
				flex-wrap: wrap;
				font-size: 0;
				width: 110%;
				height: 110%;
				margin-left: -2%;
				margin-top: -2%;
			}
			header {
				display: none;
			}
		</style>
	{{/head}}
	<body>
		{{> header title='24hrs v2 - Image Display' subtitle='Displaying the images of the last 24 hours of published articles'}}
		
		<main>
			<!-- results to go here -->
		</main>

		<script type="text/javascript" src="/static/js/main.js"></script>
		<script>

			let numImages = 0;

			window.addEventListener('resize', calculateImageSizes);


			function displayInDOM(json){
				var output = '';

				json.forEach(results => {
					let result = results.sapiObj.results[0].results
					result.forEach(article => {
						output += imageWrapper(article);
					});
				});

				document.getElementsByTagName('main')[0].innerHTML = output;

				calculateImageSizes();
			}

			function calculateImageSizes(){
				const imgs 		= document.getElementsByTagName('img');
				const imgsList	= Array.prototype.slice.call(imgs);
				const width 	= window.innerWidth + ((window.innerWidth / 100) * 5);
				const height 	= window.innerHeight + ((window.innerHeight / 100) * 5);
				const area 		= (width * height);

				if(imgsList.length > 0){
					let gridImages 	= squareGridCalc(imgsList.length);
					let imgSize 	= getImageDimensions(area, gridImages);

					imgsList.forEach(img => {
						img.style.width = imgSize + 'px ';
						img.style.height = imgSize + 'px';
					});
				}
			}


			function getImageDimensions(area, numImages){
				for(var i = 1; i < 10000; i++){
					var imageArea 		= i*i;
					var totalImageArea	= imageArea * numImages;

					if(totalImageArea > area ){
						return i;
						break;
					}
				}
			}


			function squareGridCalc(num){
				if(num % 2){
					return num - 1;
				}
				return num;
			}


			// -------

			fetch('/24hrs/dataReq')
				.then(status)
				.then(json)
				.then(function(data) {
					console.log('Request succeeded with JSON response', data);
					displayInDOM(data);
				}).catch(function(error) {
					console.log('Request failed', error);
			});

		</script>
	</body>
</html>