<!DOCTYPE html>
<html>
	{{#> head title='24hrs v2 - Image Display' subtitle='' }}

	{{/head}}
	<body>
		{{> header title='24hrs v2 - Image Display' subtitle=''}}
		
		<main>
			<!-- results to go here -->
		</main>

		<script type="text/javascript" src="/static/js/main.js"></script>
		<script>
			fetch('/24hrs/dataReq')
				.then(status)
				.then(json)
				.then(function(data) {
					console.log('Request succeeded with JSON response', data);
					displayInDOM(data);
				}).catch(function(error) {
					console.log('Request failed', error);
			});

			function displayInDOM(json){
				var output = '';
				var data = json.sapiObj.results[0].results;

				data.forEach(function(element) {
					output += imageWrapper(element);
				});

				main.innerHTML = output;
			}
		</script>
	</body>
</html>