<!DOCTYPE html>
<html>
	{{#> head title='24hrs v2a - 100 articles' subtitle='Displaying the images of the last 100 published articles in a fullscreen flexible grid' }}
		<style type="text/css">
			html, body, main {
				margin: 0;
				padding: 0;
				font-size: 0;
				overflow: hidden;
				height: 100%;
				width: 100%;
			}
			a {
				display: inline-block;
		        font-size: 0;
		        width: 10%;
		        height: 10%;
			}
			img {
				width: 100%;
			}
			header {
				display: none;
			}
		</style>
	{{/head}}
	<body>
		{{> header title='24hrs v2 - 100 articles' subtitle='Displaying the images of the last 100 published articles in a fullscreen flexible grid'}}
		
		<main>
			<!-- results to go here -->
		</main>

		<script type="text/javascript" src="/static/js/main.js"></script>
		<script>

			function displayInDOM(json){
				var output = '';

				json.forEach(results => {
					let result = results.sapiObj.results[0].results
					result.forEach(article => {
						output += imageBgWrapper(article, "width=500&height=281");
					});
				});

				document.getElementsByTagName('main')[0].innerHTML = output;
			}

			fetch('/24hrs/dataReq')
				.then(status)
				.then(json)
				.then(function(data) {
					console.log('Request succeeded with JSON response', data);
					displayInDOM(data);
				}).catch(function(error) {
					console.log('Request failed', error);
			});

		</script>
	</body>
</html>