<!DOCTYPE html>
<html lang="en">
	<body>
		<h1>Article Aggregations: Basic 2: reoriented table</h1>
		<main class="centerPos">
			<table>
				<tr>
					<td colspan="2">primaryTheme.topics</td>
				</tr>
			{{#each data.primaryTheme.topics}}
					<tr>
						<td>{{ this.[0] }}({{ this.[1] }})</td>
						<td>
							<ul>
							{{#each this.[2]}}
									<li>{{ title }}</li>
							{{/each}}
							</ul>
						</td>
					</tr>
			{{/each}}
			</table>

		</main>
	</body>
</html>
