html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: #fff1e5;
	font-family: 'MetricWeb', sans-serif;
}

h1 {
	font-family: 'FinancierDisplayWeb', serif;
    text-transform: capitalize;
}

h2 {
	font-family: 'FinancierDisplayWeb', serif;
    text-transform: capitalize;
}

/*
 * Visual Three
 */
.three .header {
	display: grid;
	grid-template-columns: 20% 70%;
	grid-template-rows: 50%;
	grid-template-areas: 
		"image name";
	margin-bottom: 15px;
}

.three .header .image {
	grid-area: image;

	background: #0F5499;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: white;
}
.three .header .image p {
	text-align: center;
	font-size: 23px;
    line-height: 5px;
}
.three .header .name {
	grid-area: name;
}
.three .header .name p {
	margin: 0;
	padding: 5px;
}
.three .header .name span {
	margin: 0;
	padding: 5px;
}
.three .header .name .facets {
	font-size: 14px;
}
.three .row {
	padding: 20px;
}
.three .row:first-child {
	background-color: #99C6FB;
	border-radius: 3px;
}
.three .o-teaser--small {
	border-bottom: 1px solid #999999;
}

@media (min-width: 46.25em){
	.three .o-grid-row {
		margin-left: 0px;
	}
}


/*
 * Visual Four
 */
.four .bubble {
	background-color: #F2DFCE;
	width: 250px;
	height: 250px;
	border-radius: 250px;
    position: relative;
	overflow: hidden;
	text-align: center;
	margin: 0 25px 25px 0;
}
.four .bubble .imgHolder {
	margin-top: -40px;
    width: 100%;
    position: relative;
    display: block;
    height: 65%;
    overflow: hidden;
}
.four .bubble .imgHolder img {
	position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 100%;
}
.four .bubble p {
	margin: 10px 0 15px;
	font-size: 20px;
	font-family: 'FinancierDisplayWeb', serif;
	text-transform: capitalize;
}
.four .bubble .article {
	padding: 0 30px;
}
.four .bubble .article a {
	color: black;
}

@media (min-width: 46.25em){
	.four .o-grid-row {
		margin-left: 0px;
	}
}



/*
 * Visual Five
 */
 .five {

 }