body {
	background: #fff1e5;
	font-family: 'MetricWeb', sans-serif;
}

h1,
h2 {
	font-family: 'FinancierDisplayWeb', serif;
	text-transform: capitalize;
}

h2 {
	font-family: 'MetricWeb', sans-serif;
	font-size: 18px;
}


h3 {
	font-family: 'MetricWeb', sans-serif;
	font-size: 16px;
}

table {
	margin: 50px auto 0;
}

.controls {
	position: absolute;
	display: block;
	padding: 10px;
	top: 5px;
	right: 5px;
	width: auto;
	height: auto;
	font-size: 12px;	
}