h1{
  position: absolute;
  top: 5px;
  left: 10px;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
}

svg {
  display: block;
  margin: 0 auto
}

.controls {
  position: absolute;
  display: block;
  padding: 10px;
  top: 5px;
  right: 5px;
  width: auto;
  height: auto;
  font-size: 12px;  
}

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}