h1{
  position: absolute;
  top: 5px;
  left: 10px;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
}

svg {
  display: block;
  margin: 0 auto
}

.controls,
.legend {
  position: absolute;
  display: block;
  padding: 10px;
  top: 5px;
  right: 5px;
  width: auto;
  height: auto;
  font-size: 12px; 
}

.controls {
  top: 5px;
  right: 5px;
}

.legend {
  top: 55px;
  left: 5px;
  width: 85px;
}

.legend .square {
  width: 10px;
  height: 10px;
  border: 1px solid #666;
  display: inline-block;
  margin-right: 5px;
}

.legend .link {
  background-color: steelblue;
}

.legend .connection {
  background-color: #2ca02c;
}

.legend .selected {
  background-color: #d62728;
}

.selected {
  font-weight: bold !important;
  fill: black !important;
}

.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: steelblue;
  stroke-opacity: 0.4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #d62728;
}

.link--target {
  stroke: #2ca02c;
}

.linked--target {
  stroke: #d62728;
  stroke-opacity: 1;
  stroke-width: 2px;
}

.noded--source {
  stroke: #d62728;
}