body {
	background: #fff1e5;
	font-family: 'MetricWeb', sans-serif;
}

h1 {
	font-family: 'FinancierDisplayWeb', serif;
    text-transform: capitalize;
}

h2 {
	font-family: 'FinancierDisplayWeb', serif;
    text-transform: capitalize;
}
