<!DOCTYPE html>
<html>
	{{#> head title='Facets With Articles Test' subtitle='' }}
	{{/head}}
	<body>
		{{> header title='Facets With Articles Test' subtitle=''}}
		
		<main>
			{{ facetsJson }}
		</main>
	</body>
</html>