<div class="o-grid-container fast-ft-bg">
	<section class="o-grid-row">
		<div data-o-grid-colspan="0 L12">
			<div class="fast-ft fast-ft--horizontal" data-trackable="fastft">
				<h2 class="fast-ft__logo-outer">
					TopicalFT
				</h2>
				<ol class="fast-ft__stories">
					{{#each item}}
						{{> origami/fastFTBarItem item=this}}
					{{/each}}
				</ol>
			</div>
		</div>
	</section>
</div>