<div class="o-grid-container fast-ft-bg">
	<section class="o-grid-row">
		<div data-o-grid-colspan="12 L12">
			<div class="fast-ft fast-ft--horizontal" data-trackable="fastft">
				<div class="fast-ft__stories">
					<div>
						<h2 class="fast-ft__logo-outer">TopicalFT</h2>
					</div>
					{{#each item}}
						{{> origami/fastFTBarItem item=this}}
					{{/each}}
				</div>
			</div>
		</div>
	</section>
</div>