<div class="o-teaser-collection__item--stretched" data-o-grid-colspan="12 S6">
	<div class="o-teaser o-teaser--top-story o-teaser--standalone o-teaser--article o-teaser--syndicatable"
	 data-o-component="o-teaser" data-trackable="teaser">
		<div class="o-teaser__content">

			<div class="o-teaser__meta">
				<a href="/global-trade" class="o-teaser__tag" data-trackable="primary-concept">
					Global trade
				</a>
			</div>

			<div class="o-teaser__heading js-teaser-heading">
				<a href="/content/57c4e3ce-ca22-11e8-b276-b9069bde0956" class="js-teaser-heading-link" data-content-id="57c4e3ce-ca22-11e8-b276-b9069bde0956"
				 data-trackable="main-link">
					UK would be welcomed to TPP ‘with open arms’, says Abe
				</a>
			</div>

			<p class="o-teaser__standfirst">Japanese prime minister talks Trump, trade and North
				Korea in FT interview</p>

			<div class="o-teaser__timestamp">
				<time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours" datetime="2018-10-07T16:04:37.000Z"
				 title="October 7, 2018 5:04 pm" data-o-date-js="" aria-label=""></time>
			</div>


		</div>

		<ul class="o-teaser__related">
			<li class="o-teaser__related-item o-teaser__related-item--article" data-content-id="3acb357c-c886-11e8-ba8f-ee390057b8c9">
				<a data-trackable="related" href="/content/3acb357c-c886-11e8-ba8f-ee390057b8c9">Trade
					disputes panel on brink of collapse, Cecilia Malstrom warns</a>
			</li>
			<li class="o-teaser__related-item o-teaser__related-item--article" data-content-id="1ba3ca22-c892-11e8-ba8f-ee390057b8c9">
				<a data-trackable="related" href="/content/1ba3ca22-c892-11e8-ba8f-ee390057b8c9">IMF:
					the fight to woo a sceptical US over funding</a>
			</li>
			<li class="o-teaser__related-item o-teaser__related-item--article" data-content-id="3b07e8fe-c97c-11e8-9fe5-24ad351828ab">
				<a data-trackable="related" href="/content/3b07e8fe-c97c-11e8-9fe5-24ad351828ab">ECB
					hits the road to pitch its policies</a>
			</li>
		</ul>

	</div>
</div>