<div class="o-grid-row o-teaser-collection top-stories__freeform-row js-track-scroll-event" data-trackable="freeform-row" style="border-bottom: 1px solid #ccc1b7; border-top: 1px solid #ccc1b7; padding: 20px 0 0;">

	<div data-o-grid-colspan="12 M3">
				<div class="o-teaser o-teaser--small o-teaser--stacked o-teaser--has-image o-teaser--article o-teaser--syndicatable" data-o-component="o-teaser" data-trackable="teaser">
					<div class="o-teaser__content">
			
							<div class="o-teaser__meta">
									<a href="/stream/30f8762f-d6bb-4179-a2cd-a518483f020e" class="o-teaser__tag" data-trackable="primary-concept">
										UK public finances
									</a>
							</div>
			
			
						<div class="o-teaser__heading js-teaser-heading">
							<a href="/content/d4a5a452-c7e1-11e8-ba8f-ee390057b8c9" class="js-teaser-heading-link" data-content-id="d4a5a452-c7e1-11e8-ba8f-ee390057b8c9" data-trackable="main-link">
								May’s pledge on austerity creates £35bn Budget hole
							</a>
						</div>
			
							<p class="o-teaser__standfirst">Spending promises pose big borrowing problem for Treasury</p>
			
									<div class="o-teaser__timestamp">
										<time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours" datetime="2018-10-05T03:00:29.000Z" title="October 5, 2018 4:00 am" data-o-date-js="" aria-label=""></time>
									</div>
			
			
					</div>
			
							<div class="o-teaser__image-container js-teaser-image-container">
								<a href="/content/d4a5a452-c7e1-11e8-ba8f-ee390057b8c9" data-trackable="image" aria-hidden="true" tabindex="-1" title="May’s ‘end austerity’ pledge creates £35bn annual Budget hole">
											<div class="n-image-wrapper o-teaser__image-placeholder n-image-wrapper--placeholder" style="padding-bottom:56.249929687587894%">
													<img srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F8c0d0e72-c7f2-11e8-86e6-19f5b7134d1c?source=next&amp;fit=scale-down&amp;compression=best&amp;width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F8c0d0e72-c7f2-11e8-86e6-19f5b7134d1c?source=next&amp;fit=scale-down&amp;compression=best&amp;width=332 332w" sizes="(min-width: 1220px) 574px, (min-width: 980px) 454px, (min-width: 740px) 688px, calc(100vw - 40px)" role="presentation" alt="" class="n-image o-teaser__image n-image--fade-on-load">
											</div>
								</a>
							</div>
			
				</div>
	</div>
	<div data-o-grid-colspan="12 M3">
				<div class="o-teaser o-teaser--small o-teaser--stacked o-teaser--has-image o-teaser--article o-teaser--syndicatable" data-o-component="o-teaser" data-trackable="teaser">
					<div class="o-teaser__content">
			
							<div class="o-teaser__meta">
									<a href="/banks" class="o-teaser__tag" data-trackable="primary-concept">
										Banks
									</a>
							</div>
			
			
						<div class="o-teaser__heading js-teaser-heading">
							<a href="/content/f13ae77a-c7f1-11e8-ba8f-ee390057b8c9" class="js-teaser-heading-link" data-content-id="f13ae77a-c7f1-11e8-ba8f-ee390057b8c9" data-trackable="main-link">
								Danske Bank memo shows how Russians moved money
							</a>
						</div>
			
							<p class="o-teaser__standfirst">‘Highly profitable’ mirror trades were used by clients to shift money out of country</p>
			
									<div class="o-teaser__timestamp">
										<time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours" datetime="2018-10-05T04:00:21.000Z" title="October 5, 2018 5:00 am" data-o-date-js="" aria-label=""></time>
									</div>
			
			
					</div>
			
							<div class="o-teaser__image-container js-teaser-image-container">
								<a href="/content/f13ae77a-c7f1-11e8-ba8f-ee390057b8c9" data-trackable="image" aria-hidden="true" tabindex="-1" title="Danske Bank memo shows how Russians moved money">
											<div class="n-image-wrapper o-teaser__image-placeholder n-image-wrapper--placeholder" style="padding-bottom:56.249929687587894%">
													<img srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2Fcfd2cf28-c7c7-11e8-86e6-19f5b7134d1c?source=next&amp;fit=scale-down&amp;compression=best&amp;width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2Fcfd2cf28-c7c7-11e8-86e6-19f5b7134d1c?source=next&amp;fit=scale-down&amp;compression=best&amp;width=332 332w" sizes="(min-width: 1220px) 574px, (min-width: 980px) 454px, (min-width: 740px) 688px, calc(100vw - 40px)" role="presentation" alt="" class="n-image o-teaser__image n-image--fade-on-load">
											</div>
								</a>
							</div>
			
				</div>
	</div>
	<div data-o-grid-colspan="12 M3">
				<div class="o-teaser o-teaser--small o-teaser--stacked o-teaser--has-image o-teaser--article" data-o-component="o-teaser" data-trackable="teaser">
					<div class="o-teaser__content">
			
							<div class="o-teaser__meta">
									<a href="/world/uk/politics" class="o-teaser__tag" data-trackable="primary-concept">
										UK politics &amp; policy
									</a>
							</div>
			
			
						<div class="o-teaser__heading js-teaser-heading">
							<a href="/content/a1b456d4-c72c-11e8-ba8f-ee390057b8c9" class="js-teaser-heading-link" data-content-id="a1b456d4-c72c-11e8-ba8f-ee390057b8c9" data-trackable="main-link">
								Ultra-rich shift assets as fear of Labour mounts
							</a>
						</div>
			
							<p class="o-teaser__standfirst">Prospect of Jeremy Corbyn in No 10 is seen as a bigger threat than Brexit to wealthy</p>
			
									<div class="o-teaser__timestamp">
										<time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours" datetime="2018-10-05T03:00:42.000Z" title="October 5, 2018 4:00 am" data-o-date-js="" aria-label=""></time>
									</div>
			
			
					</div>
			
							<div class="o-teaser__image-container js-teaser-image-container">
								<a href="/content/a1b456d4-c72c-11e8-ba8f-ee390057b8c9" data-trackable="image" aria-hidden="true" tabindex="-1" title="Ultra-rich shift assets as fear of Labour government mounts">
											<div class="n-image-wrapper o-teaser__image-placeholder n-image-wrapper--placeholder" style="padding-bottom:56.249929687587894%">
													<img srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F8e07f014-c7ef-11e8-86e6-19f5b7134d1c?source=next&amp;fit=scale-down&amp;compression=best&amp;width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F8e07f014-c7ef-11e8-86e6-19f5b7134d1c?source=next&amp;fit=scale-down&amp;compression=best&amp;width=332 332w" sizes="(min-width: 1220px) 574px, (min-width: 980px) 454px, (min-width: 740px) 688px, calc(100vw - 40px)" role="presentation" alt="" class="n-image o-teaser__image n-image--fade-on-load">
											</div>
								</a>
							</div>
			
				</div>
	</div>
	<div data-o-grid-colspan="12 M3">
				<div class="o-teaser o-teaser--small o-teaser--stacked o-teaser--has-image o-teaser--article o-teaser--syndicatable" data-o-component="o-teaser" data-trackable="teaser">
					<div class="o-teaser__content">
			
							<div class="o-teaser__meta">
									<a href="/topics/themes/equity_valuation" class="o-teaser__tag" data-trackable="primary-concept">
										Equity valuation
									</a>
							</div>
			
			
						<div class="o-teaser__heading js-teaser-heading">
							<a href="/content/9eadad02-c85b-11e8-ba8f-ee390057b8c9" class="js-teaser-heading-link" data-content-id="9eadad02-c85b-11e8-ba8f-ee390057b8c9" data-trackable="main-link">
								Global stocks slide after bond sell-off
							</a>
						</div>
			
							<p class="o-teaser__standfirst">Investors await US jobs report that will shape the short-term outlook for bonds</p>
			
									<div class="o-teaser__timestamp o-teaser__timestamp--updated">
											<span class="o-teaser__timestamp-prefix">updated</span>
										<time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours" datetime="2018-10-05T10:34:29.000Z" title="October 5, 2018 11:34 am" data-o-date-js="" aria-label="3 hours ago">3 hours ago</time>
									</div>
			
			
					</div>
			
							<div class="o-teaser__image-container js-teaser-image-container">
								<a href="/content/9eadad02-c85b-11e8-ba8f-ee390057b8c9" data-trackable="image" aria-hidden="true" tabindex="-1" title="Global stocks slide after bond sell-off">
											<div class="n-image-wrapper o-teaser__image-placeholder n-image-wrapper--placeholder" style="padding-bottom:56.249929687587894%">
													<img srcset="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F62a35bfe-b1f4-11e8-8d14-6f049d06439c?source=next&amp;fit=scale-down&amp;compression=best&amp;width=500 500w, https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fprod-upp-image-read.ft.com%2F62a35bfe-b1f4-11e8-8d14-6f049d06439c?source=next&amp;fit=scale-down&amp;compression=best&amp;width=332 332w" sizes="(min-width: 1220px) 574px, (min-width: 980px) 454px, (min-width: 740px) 688px, calc(100vw - 40px)" role="presentation" alt="" class="n-image o-teaser__image n-image--fade-on-load">
											</div>
								</a>
							</div>
			
				</div>
	</div>

</div>