.fast-ft-bg {
	background-color: #fff9f5;
}
.fast-ft--horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    position: relative;
    margin: 0 0 1px;
}
.fast-ft {
    background-color: #fff9f5;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
}
.fast-ft--horizontal .fast-ft__logo-outer {
    background: transparent;
    padding-left: 0;
}
.fast-ft__logo-outer {
    background-color: #f5dfd9;
    margin: 0;
    line-height: 17px;
    padding: 10px;
}
.fast-ft--horizontal .fast-ft__stories {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.fast-ft--horizontal .fast-ft__story {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 1px solid #ccc1b7;
    padding: 5px 10px 10px;
    width: 33.33%;
}
.fast-ft--horizontal .story__link {
	border-bottom-width: 0;
	color: #0a5e66;
    text-decoration: none;
    cursor: pointer;
}
.fast-ft--horizontal .story__time {
    font-family: MetricWeb, sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #66605c;
    text-transform: uppercase;
	white-space: nowrap;
	display: inherit;
}
.fast-ft--horizontal .story__title {
    font-family: MetricWeb, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    display: inline;
    color: #33302e;
    margin-right: 5px;
}
.fast-ft--horizontal .story {
	position: relative;
}
.fast-ft--horizontal .ranking {
	display: block;
	color: #00994D;
	position: absolute;
	right: 15px;
    top: 15px;
}

@media (min-width: 46.25em) {
	.fast-ft {
		margin-top: 0;
	}
}