<!DOCTYPE html>
<html>
	{{#> head title='Clustered Images - v5a' subtitle='' }}
	<link rel="stylesheet" type="text/css" href="/static/css/clusteredImagesFive.css"></style>
	{{/head}}
	<body>
		<main class="centerPos">
			{{#each data}}
			<div class="cluster guideline">
				<div class="cluster--images circlemask">
				{{#each articles}}
				{{#if images.0.url}}
					<img class="" src="{{imgPath images.0.url}}" />
				{{/if}}
				{{/each}}
				</div>
				<h2 class="centerPos">{{facetName}}</h2>
			</div>
			{{/each}}
		</main>
		<fieldset class="controls">
			<legend>Controls:</legend>
			<label><input type="checkbox" name="mask" id="clipMask" checked>Mask</label><br />
			<label><input type="checkbox" name="guide" id="guideLine" checked>Guide</label>
			<button>Refresh positions</button>
		</fieldset>
		<script src="/static/js/clusteredImagesFive.js"></script>
	</body>
</html>