<!DOCTYPE html>
<html>
	{{#> head title='Clustered Images - v2' subtitle='' }}
	<style type="text/css">
		main {
		    width: 100%;
		}
		h2 {
			color: #fff;
		    width: 1000%;
		    font-size: 9vw;
		    text-shadow:
			   -1px -1px 0 #000,  
			    1px -1px 0 #000,
			    -1px 1px 0 #000,
			     1px 1px 0 #000;
		}
		.cluster {
			border: 1px dashed black;
		    display: inline-block;
		    width: 200px;
		    height: 200px;
		    position: relative;
		}
		.cluster--images {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.cluster--images img {
			position: absolute;
			width: auto;
			height: auto;
			max-width: 100%;
		}
		.cluster--images img:nth-child(1) {
			transform: translate(-50%, 50%);
		}
		.cluster--images img:nth-child(2) {
			transform: translate(50%, -50%);
		}
		.cluster--images img:nth-child(3) {
			transform: translate(-50%, -150%);
		}
		.cluster--images img:nth-child(4) {
			transform: translate(-150%, -50%);
		}
		.cluster--images img:nth-child(5) {
			transform: translate(-5%, -5%);
		}
		.cluster--images img:nth-child(6) {
			transform: translate(-5%, -95%);
		}
		.cluster--images img:nth-child(7) {
			transform: translate(-95%, -95%);
		}
		.cluster--images img:nth-child(8) {
			transform: translate(-95%, -5%);
		}
		.centerPos {
			position: absolute;
			margin: 0;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    text-align: center;
		}
	</style>
	{{/head}}
	<body>
		<main class="centerPos">
			{{#each topPerson}}
			<div class="cluster">
				<div class="cluster--images">
				{{#each articles}}
				{{#if images.0.url}}
					<img class="centerPos" src="{{imgPath images.0.url}}" />
				{{/if}}
				{{/each}}
				</div>
				<h2 class="centerPos">{{facetName}}</h2>
			</div>
			{{/each}}
		</main>
	</body>
</html>