<!DOCTYPE html>
<html lang="en">
	{{#> clusterHead title='Clustered Images - v2' subtitle='' }}{{/clusterHead}}
	<body>
		<main class="centerPos">
			{{#each data}}
			<div class="cluster">
				<div class="cluster--images set">
				{{#each articles}}
				{{#if images.0.url}}
					<img class="centerPos" src="{{imgPath images.0.url}}" />
				{{/if}}
				{{/each}}
				</div>
				<h2 class="centerPos">{{facetName}}</h2>
			</div>
			{{/each}}
		</main>
	</body>
</html>