<!DOCTYPE html>
<html lang="en">
{{#> head title='Index' subtitle='Demo Index Page' }}{{/head}}

<body>
    {{#each content}}
    <div>{{name}}</div>
    <div>{{size}}</div>
    {{/each}}

</body>

</html>