<!DOCTYPE html>
<html>
	{{#> head title='News Hotspots' subtitle='FT news around the world' }}
		<style type="text/css">
			html, body {
				text-align: center;
			}
		</style>
	{{/head}}
    <body>
        <script src="/static/js/d3.v3.min.js"></script>
        <script src="/static/js/topojson.min.js"></script>
        <script src="/static/js/datamaps.min.js"></script>
        <h1>News Hotspots</h1>
        <div id="controls"></div>
        <div id="mapContainer"></div>

        <script src="/static/js/ftMapsView.js"></script>
    </body>
</html>
