body {
  font-family: monospace;
  margin: 20;
  background-color: #fff1e5;
}

.theme {
  font-weight: bold;
  color: black
}

.score {
  color: blue
}

.overall-page {
  display: flex;
  justify-content: space-around;
  align-items: flex-start
}

.yesterday {
  display: flex;
  flex-direction: column;
}

.today {
  display: flex;
  flex-direction: column;
}

.eachone {
  display: flex;
  justify-content: space-between;
}

.theme {
  font-family: "Montserrat", sans-serif;
  justify-content: flex-start;
}

.score {
  justify-content: flex-start;
}

