<!DOCTYPE html>
<html>
	{{#> head title='Tinder - A Match' subtitle='24hr look at the news you love' }}
		<style type="text/css">
			html, body {
				text-align: center;
			}
		</style>
	{{/head}}
	<body>
		<p id="articleTitle"></p>
		<img id="articleImage"></img>
		<p id="articleAuthor">Loading...</p>
		<hr/>
		<button type="button" name="SUPERLIKE" id="superlike">Superlike</button>
		<br/>
		<button type="button" name="Like" id="like">Like</button>
		<button type="button" name="Dislike" id="dislike">Dislike</button>
		<br/>
		<button type="button" name="Reading List" id="readingList">Reading List</button>
		<script type="text/javascript" src="/static/js/tinderAMatch.js"></script>
	</body>
</html>