<!DOCTYPE html>
<html>
	{{#> head title='Tinder - A Match' subtitle='24hr look at the news you love' }}
		<link rel="stylesheet" type="text/css" href="/static/css/tinder.css">
	{{/head}}
	<body>
		
		<div id="articleImage"></div>
		<div class="controlsContainer">
			<button type="button" name="Reading List" id="readingList">Reading List</button>
		</div>
		<div class="infoPanel panel-hidden">
			<p id="articleTitle"></p>
			<p id="articleAuthor"></p>
		</div>
		<script type="text/javascript" src="/static/lib/hammer.min.js"></script>
		<script type="text/javascript" src="/static/js/tinderAMatch.js"></script>
	</body>
</html>