<!DOCTYPE html>
<html>
	{{#> head title='Tinder - My Type' subtitle='Reading list of all your FT needs' }}
		<style type="text/css">
			html, body {
				text-align: center;
			}
		</style>
	{{/head}}
	<body>
		<main>
		<h1>Reading List</h1>
			<div id="readingListStorage">
			</div>
			<hr/>
			<p>Go back to <a href="/tinder/aMatch">dating?</a></p>
			<button type="button" name="Delete Reading List" id="deleteReadingList">Delete Reading List</button>
		</main>

		<script type="text/javascript" src="/static/js/tinderMyType.js"></script>
	</body>
</html>