<!DOCTYPE html>
<html>
	{{#> head title='Facet History v1 - ' subtitle='' }}
		<style type="text/css">
			/* custom style(s) go here */
		</style>
	{{/head}}
	<body>
		{{> header title='Facet History v1 - ' subtitle=''}}
		
		<main>
			<!-- results to go here -->
		</main>

		<script type="text/javascript" src="/static/js/main.js"></script>
		<script>
			/* custom script(s) go here */
		</script>
	</body>
</html>