<!DOCTYPE html>
<html>
	{{#> head title='Facet History v1 - ' subtitle='' }}
	{{/head}}
	<body>
		{{> header title='Facet History v1 - ' subtitle=''}}
		
		<main>
			{{ facetsJson }}
		</main>
	</body>
</html>