<!DOCTYPE html>
<html lang="en">
	{{#> heartbeat/head title='Heartbeat v1 - Tabled' subtitle='' }}
	<style>
		table {
			margin: 0 auto;
		}
	</style>
	{{/heartbeat/head}}
	<body class="one">
		<main class="main"></main>
		{{> heartbeat/controls}}
		{{> heartbeat/scripts}}
		<script>
			var hb = new Heartbeat('one');
			var data = hb.prepData("{{data}}");
			hb.init(data, 'main');
			initControls('one');
		</script>
	</body>
</html>