<!DOCTYPE html>
<html>
	{{#> heartbeatHead title='Heartbeat v1 - ' subtitle='' }}
	{{/heartbeatHead}}
	<body>
		{{> header title='Heartbeat v1 - ' subtitle=''}}
		<main>
			
		</main>
		<script src="/static/js/heartbeat.js"></script>
	</body>
</html>