<!DOCTYPE html>
<html lang="en">
	{{#> heartbeatHead title='Heartbeat v2 - Line chart(s)' subtitle='' }}
	{{/heartbeatHead}}
	<body class="two">
		<main class="main"></main>
		<fieldset class="controls">
			<legend>Controls:</legend>
			<input type="button" name="topics" id="topicsRefresh" value="Topics">
			<input type="button" name="people" id="peopleRefresh" value="People">
			<input type="button" name="organisations" id="organisationsRefresh" value="Organisations">
		</fieldset>
		<script src="/static/js/libs/d3.v5.js"></script>
		<script src="/static/js/heartbeat/heartbeat.js"></script>
		<script src="/static/js/heartbeat/heartbeatControls.js"></script>
		<script>
			var hb = new Heartbeat('two');
			var data = hb.prepData("{{data}}");
			hb.init(data, 'main');
			initControls('two');
		</script>
	</body>
</html>