<!DOCTYPE html>
<html lang="en">
	{{#> heartbeat/head title='Heartbeat v2 - Line chart(s)' subtitle='' }}
	{{/heartbeat/head}}
	<body class="two">
		<main class="main"></main>
		{{> heartbeat/controls}}
		{{> heartbeat/scripts}}
		<script>
			var hb = new Heartbeat('two');
			var data = hb.prepData("{{data}}");
			hb.init(data, 'main');
			initControls('two');
		</script>
	</body>
</html>