<!DOCTYPE html>
<html>
	{{#> heartbeatHead title='Heartbeat v2 - Line chart(s)' subtitle='' }}
	{{/heartbeatHead}}
	<body>
		<main class="main"></main>
		<script src="/static/js/d3.v5.js"></script>
		<script src="/static/js/heartbeat.js"></script>
		<script>
			var hb = new Heartbeat('two');
			var data = hb.prepData("{{data}}");
			hb.init(data, 'main');
		</script>
	</body>
</html>