<!DOCTYPE html>
<html>
	{{#> head title='Clustered Images - v1' subtitle='' }}
	<style type="text/css">
		main {
		    width: 100%;
		}
		h2 {
			color: darkgrey;
		    font-size: 2vw;
		}
		.inner {
			background: lightgrey;
			border: 1px dashed black;
			border-radius: 100%;
		    display: inline-block;
		    width: 200px;
		    height: 200px;
		}
		.middle-topics {
			border: 1px dashed black;
			border-radius: 100%;
		    display: inline-block;
		    width: 300px;
		    height: 300px;
		    position: absolute;
		}
		.centerPos {
			position: absolute;
			margin: 0;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    text-align: center;
		}
		.circle {
			position: relative;
			width: 50px;
			height: 50px;
			border: 1px solid black;
			border-radius: 100%;
		}
	</style>
	{{/head}}
	<body>
		<main class="centerPos">
			{{#each topTopic}}
			<div class="middle-topics centerPos">
				<h3 class="">Topics</h3>
				<div class="holder">
					{{#each relatedTopicCount}}
					<div class="circle">
						<span>{{name}}</span>
					</div>
					{{/each}}
				</div>
			</div>
			<div class="inner">
				<h2 class="centerPos">{{facetName}}</h2>
			</div>
			{{/each}}
		</main>
	</body>
</html>