<div class="row o-grid-row">
	<div data-o-grid-colspan="two-thirds push2">
		<h2>{{header}}</h2>

		{{> teaser
			title: data.articles
			subtitle: data.articles
			datetime: data.articles
			image: data.articles
		}}
	</div>
</div>