<div class="row o-grid-row">
	<div data-o-grid-colspan="one-third center">
		<h2>{{header}}</h2>

		{{> teaser
			title: teaser.title
			subtitle: teaser.subtitle
			datetime: teaser.datetime
			image: teaser.image
		}}
	</div>
</div>